<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bathroom Watch</title>
    <style>
        /* New grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    height: calc(100vh - 130px); /* Adjusted for the navbar */
    width: 100vw;  /* Full width of the viewport */
    box-sizing: border-box;
}

/* Grid item styling */
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

/* Media query for screens below 600px (for one column layout) */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr); /* Adjusts to 4 rows on small screens */
        height: calc(100vh - 50px); /* Adjusted for the navbar */
        width: 100vw;
    }
}

    </style>
</head>

<body>
    <%- include('../navbar', { user: user }) %>
        <div class="main">

            <h1>Bathroom Watch</h1>
            <div class="grid-container">    
                <div>
                    Classroom Number:  <%= classroom.roomNumber %>
                </div>
                <div>
                    Classroom Bathroom: <%= classroom.bathroom %>
                </div>
                <div>
                    People In bathroom
                    Boys - <%= classroom.boyOut %>
                    Girls - <%= classroom.girlOut %>
                </div>
                <div>
                    Boy Bathroom List
                    <%= classroom.boyList%>
                </div>
                <div>
                    Girl Bathroom List
                    <%= classroom.girlList%>
                </div>
            </div>
        </div>
</body>

</html>